* {
	box-sizing: border-box; 
}

body {
	margin: 0;
}

header {
	font-size: 2.5em;
	height: 10vh;
	line-height: 0.3em;
	padding: 1em;
	/*background: blue;*/
}

#main {
	display: flex;
	min-height: calc(100vh - 30vh);
}

#main > article {
	flex: 1;
}

article {
	padding: 1em;
	padding-left: 20%;
	padding-right: 20%;
	line-height: 1.7em;
}

footer {
	/*background: yellowgreen;*/
	padding: 1em;
	font-size: 1.5em;
	text-align: center;
	height: 10vh;
}
