<!doctype html>
<html lang='en'>

	<head>
		<meta charset='UTF-8'/>
		<title>BH Story</title>
		<link rel='stylesheet' href='static/active-story-style.css'/>
	</head>

	<body>
		<header>BH Story #7</header>
		<hr>
		<div id="main">
			<article>
				{% for word in words %}
					{{ word }}
				{% endfor %}
			</article>
		</div>
		<hr>
		<footer>
			<form action="." method="POST">
  				Next word:
  				<input type="text" name="new_word" autofocus="autofocus">
  				<input type="submit">
			</form>
		</footer>
	</body>

</html>
