<!doctype html>
<html lang='en'>

	<head>
		<meta charset='UTF-8'/>
		<title>BH Story</title>
		<link rel='stylesheet' href='static/active-story-style.css'/>
	</head>

	<body>
		<header>BH Story #7</header>
		<hr>
		<div id="main">
			<article>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis sapien elementum, lacinia sapien non, maximus est. Donec id erat fermentum, ullamcorper elit varius, pharetra ex. Mauris fermentum sem non purus rutrum, vitae sodales orci accumsan. Donec dictum, ante quis tincidunt vulputate, lorem lorem accumsan tortor, sed facilisis metus risus eget mauris. Cras magna massa, ullamcorper quis luctus vitae, tincidunt sed nibh. Integer ultrices neque id purus pulvinar lacinia. Cras at ligula neque. Curabitur cursus sed turpis sit amet tristique. Nam arcu urna, venenatis vel felis id, aliquet rhoncus diam. Aenean vel urna at felis porttitor congue. Sed condimentum sem eget ex suscipit rutrum vitae eu tellus.

				Ut id fringilla ipsum. Nam ac feugiat ipsum. Maecenas eleifend euismod sem ac scelerisque. Cras nec libero condimentum, lacinia ex nec, facilisis elit. Suspendisse elementum molestie maximus. Phasellus venenatis est rhoncus nulla interdum, ac maximus urna suscipit. Duis pharetra volutpat maximus. Phasellus a ligula nec magna ultricies sollicitudin et nec justo. Morbi sollicitudin egestas mauris egestas congue. Morbi vel ultricies tortor, non finibus augue. Sed vel sem ac mi tempus hendrerit in mollis risus. Nullam id nibh lorem. Curabitur congue efficitur viverra. Sed pulvinar nunc vel libero semper placerat. Pellentesque at porta odio.
				
				Ut convallis orci ipsum, a varius nibh sodales non. Sed commodo, sem at volutpat rhoncus, neque enim tincidunt nisl, id malesuada diam eros vel nisl. Vestibulum faucibus at neque ac viverra. Proin egestas tempor consequat. Ut vestibulum elementum lobortis. Duis dictum, dui ut interdum posuere, quam nisl pellentesque metus, in vestibulum enim lorem vitae dolor. Sed iaculis nisi eu tincidunt auctor. Vivamus viverra elementum nisl, et efficitur erat venenatis quis. Nam hendrerit mi quis turpis ullamcorper faucibus. Ut congue malesuada velit, in consequat elit ultrices ornare. Quisque sed blandit nunc, et volutpat neque. Fusce ut malesuada felis, in convallis magna.
			</article>
		</div>
		<hr>
		<footer>
			<form>
  				Next word:
  				<input type="text" name="next_word">
  				<input type="submit">
			</form>
		</footer>
	</body>

</html>
